.paginate {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 6px;
  flex-wrap: wrap;
}

.page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  color: #5f6368;
  font-size: 12px;
  font-weight: 400;
}

.page-item-prevnext {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  color: #5f6368;
  font-size: 12px;
  font-weight: 400;
}

.page-link {
  padding: 0.5rem 1rem;
}

.active {
  background-color: #e5e7eb;
  color: #5f6368;
  border: 1px solid #e5e7eb;
}

@media (max-width: 480px) {
  .page-item {
    font-size: 12px;
  }

  .page-link {
    padding: 0.4rem 0.8rem;
  }
}
